

.aboutMe {
	width: 80%;
	margin: auto;
	padding-top: 80px;
	padding-bottom: 50px;
}


.aboutCol {
	flex-basis: 48%;
	padding: 30px 2px;
}

.aboutCol > h1 {
	padding-top: 0;
    text-align: center;
	color: black;
}

.aboutCol > p {
	padding: 15px 0 25px;
    text-align: justify;
	color: black;
}
/*creates the box to click in main*/
.hero-btn {
	display: inline-block;
    position: center;
	text-decoration: none;
	color: #701634;
	border: 1px solid #701634;
	padding: 14px 36px;
	font-size: 17px;
	background: solid;
	position: relative;
	cursor: pointer;
}
.hero-btn:hover {
	border: 1px solid #EBE8E0;
	background: #EBE8E0;
	transition: 1s;
}
