:root{
    --dark:#2b2d42;
    --light:#adb5bd;
    --border:#dee2e6;   
    --border-btn:#edf2f4;
}
/* */
.container{
    max-width: fit-content;
    padding-top: 30px;
    margin:auto;
}
.d-flex{
    display: flex;
    flex-wrap: wrap;
}
#header nav{
    background-color: rgb(168, 25, 54);
    padding: 1em 0;
    width: 100%;
}
#site-main{
    margin-top: 4em;
}
table{
    border-spacing: 0px;
    width: 150%; 

    
}
.table td, .table th{
    padding: .75em;
    vertical-align: top;
    text-align: center;
    border-top: 1px solid var(--border);
}
#site-main .container form{
    margin: 2em 0;
    padding-right: 200px;
}
#site-main .container .box-nav > a{
    font-size: 1em;
    padding: .5em 1em;

}
/* Sets the background color of the ID section of the table*/
.table .thead-dark th{
    color: black;
    background-color: rgb(168, 25, 54);
    border-color: rgb(168, 25, 54);
    width: fit-content;
}
.text-gradient{
    background: linear-gradient(to right,  rgb(168, 25, 54), rgb(168, 25, 54));
    -webkit-background-clip: text;
    background-clip: text;
    -webkit-text-fill-color: transparent;
}