body{
    margin: 0;
}
#showPopUp{
    position: absolute;
    width: 64px;
    height: 64px;
    right: 32px;
    bottom: 32px;
    border-radius: 50%;
    font-size: 32px;
    border: thin;
    transition: all 0.2s ease-in-out;
}
.popUpContainer{
    position: absolute;
    width: 300px;
    height: 500px;
    background-color: rgb(255, 255, 255);
    border: solid grey 1px;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: 10;
    display: flex;
    flex-flow: column;
    padding: 16px;
    justify-content: space-evenly;
    align-items: center;
    border-radius: 16px;
}
.closePopUpContainer{
    position: absolute;
    right: 8px;
    top: 8px;
    width: 40px;
    height: 40px;
    border-radius: 50%;
    border: thin;
    font-size: 24px;
    padding: 0;
    transform: rotate(45deg);
}
#selectTimeSlot{
    color: black;
}
.submit{
    border-radius: 16px;
    width: 100px;
    height: 60px;
    border: thin;
    background-color: white; /* color changed here*/
    cursor: pointer;
}
.submit:hover{
    background-color: #701634;
}
.hide{
    display: none;
}
.gridContainer{
    display: grid;
    padding: 10%;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr 1fr;
    justify-content: center;
}
.gridContainer *{
    color: white;
}
#timeslots{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 8px;
    margin-bottom: 16px;

}
#timeslots .day{
    width: 100%;
}
.popUpContainer h3{
    color: white; /* changed */
}
.day, .day-label{
    display: flex;
    flex-flow: column nowrap;
    align-items: center;
    background-color: #701634; /*changed*/
    border: solid 2px #620000;
}
.day{
    align-items: flex-start;
}
.day:hover{
    background-color: #701634;
    cursor: pointer;
    border: solid 2px white;
}
.day a{
    padding: 16px;
    text-decoration: none;
}
.prevAndNext{
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin: 1% 10% -9% 10%;
}

.day-label{
    background-color: black;
    border: 0;
}
.day-label:hover{
    background-color: black;
    border: 0;
}
.nextMonth, .prevMonth{
    filter: brightness(75%);
}
#prev, #next{
    color: white;
    border: 1px solid black;
    cursor: pointer;
}
#prev:hover, #next:hover{
    color: black;
    background-color: white;
    border-color: #701634;
}
#year, #month{
    font-size: 32px;
    font-weight: bold;
    text-align: center;
    margin-top: 2%;
}