<!--include header-->
<%-include('include/_header')%>
<!--include header-->
<body>

	<!----About section start---->
	<section class="about">
		<div class="main">
			<div class="about-text">
				<h2>About Us</h2>
				<h5>Develop <span>& Deploy</span></h5>
				<p>
                    Welcome! We are four computer students studying Computer Science. Our main goal is to help YOU be
                the most successful ever. "How may we do this", you ask. Well with the vast amount of knowledge
                we have gained throughout out studies we want to help provide you with the best tool ever. We will
                pay attention to your needs and strive to make your perfect match! Come Learn More About US.

                </p>
			</div>
		</div>
	</section>

	<!-----service section start----------->
	<div class="service">
		<div class="title">
			<h2>Our Goal</h2>
		</div>

		<div class="box">
			<div class="card">
				<i class="fa-solid fa-users-rays"></i>
				<h5>What we do</h5>
				<div class="pra">
					<p>
                        It is quite simple actually. We will create any web application to help your business and ideas thrive.
                        We will personally design the web application to meet your specific needs. While you may use services that
                        are run by big companies, we can assure you that we will be attentive and attempt to find the best solution
                        for you. There will be no cookie cutter template in this house! To learn more all you have to do is
                        sign up. Next just choose the best time that works for you for a FREE Consulation. That's right. You
                        heard well. FREE! What better deal can you get than that. We care enough to know if we are the right
                        fit for you to give you a FREE consulation. <span><a href="/register"> Click the Link below to get started NOW!</a></span>

                    </p>

					<p style="text-align: center;">
						<a class="button" href="/register" >SIGN UP NOW</a>
					</p>
				</div>
			</div>
		</div>
	</div>

<script src="/assets/js/appointments.js"></script>
<!--include footer-->
<%-include('include/_footer')%>
<!--include footer-->


