<!--include header-->
<%-include('include/_header')%>
<!--include header-->

<h1>Add Student:</h1>
<form class="generate" method="post" action="/generateDays">
    From: <input type="date" name="generate[from]"><br>
    To: <input type="date" name="generate[to]"><br>
    <input type="submit" value="Submit">
</form>  


<!--include footer-->
<%-include('include/_footer')%>
<!--include footer-->