<!--include header-->
<%-include('include/_header')%>
<!--include header-->

<body>
	<!----hero Section start---->

	<div class="hero">
		<div class="content">
			<h4>Welcome, to WebRUs.</h4>
			<h1>We Can Build <span>YOU</span> a Website.</h1>
			<h3>Students Building Websites</h3>
		</div>
	</div>

	<!-----services we provide start----------->
	<div class="service">
		<div class="title">
			<h2>Our Services</h2>
		</div>

		<div class="box">
			<div class="card">
				<i class="fa-solid fa-brain"></i>
				<h5>Planning</h5>
				<div class="pra">
					<p>We provide a free consulation to gather all your needs. You will get to meet one on one to make sure
            it is fully personalized.
          </p>

					<p style="text-align: center;">
						<a class="buttonHome" href="#">Read More</a>
					</p>
				</div>
			</div>

			<div class="card">
        <i class="fa-solid fa-laptop-code"></i>
				<h5>Building</h5>
				<div class="pra">
					<p>We will be quick and effective with the building process so that you can have it <span>ASAP</span> .</p>

					<p style="text-align: center;">
						<a class="buttonHome" href="#">Read More</a>
					</p>
				</div>
			</div>

			<div class="card">
				<i class="fa-solid fa-toolbox"></i>
				<h5>Maintenance</h5>
				<div class="pra">
					<p> After you get your website you will receive <span>FREE</span> 
            support round-the-clock. 

          </p>

					<p style="text-align: center;">
						<a class="buttonHome" href="#">Read More</a>
					</p>
				</div>
			</div>
		</div>
	</div>

<!----Our Promises ---->
<section class="about">
  <div class="main">
    <div class="about-text">
      <h2>Our Promise</h2>
      <h5>Develop <span>& Deploy</span></h5>
      <p>
         Our Mission is to develop the best personalized website for your need. We strive to provide fast support and a friendly staff. 
         Unlike our competition, we promise to provide free support after deployment. <span> <a href="/register"> Come Join Us! </a></span>
      </p>
     
    </div>
  </div>
</section>

	<div class="contact-me">
		<p> Let Us Build You Your Website.</p>
		<a class="button-two" href="/login">Set an Appointment</a>
	</div>

<!--include footer-->
<%-include('include/_footer')%>
<!--include footer-->












