<!--include header-->
<%-include('include/_header')%>
<!--include header-->

<img src="designhome.jpg" class="FloatRight">


<p> <h1> We can help </h1> </p>
<p> <h1> you build </h1> </p> 
<p> <h1> a website </h1> </p> 
<a href="register.ejs">
<p> <h1> Click here to join us!!
 </h1> </p>
 </a> 

<!--include footer-->
<%-include('include/_footer')%>
<!--include footer-->







