<!--include header-->
<%-include('include/_header')%>
<!--include header-->

<img src="designhome.jpg" class="FloatRight">


<h1>
We can help you build a website   
 </h1> 
<a href="register.ejs">
<h2> Click here to join us!!
 </h2>
 </a> 

<!--include footer-->
<%-include('include/_footer')%>
<!--include footer-->




