<!--include header-->
<%-include('include/_header')%>
<!--include header-->

<body style = "background: url(assets/images/try.jpg); background-size: cover; background-repeat: no-repeat;" > 
 
 <h1> We can help you build a website</h1> 
  
     
   <h2> Services we provide: </h2>
    <ul>
  <p>   <h3> • Build website's to suit all your needs  </h3> </p> 
   <li> <h3> • Free consultation to gather your requirements </h3> </li>  
   <li>  <h3>• Free support round-the-clock 24*7 </h3>  </li>  
   <li> <h3> • Exclusive one-one meetings with our team </h3>  </li>
   <li> <h3>  &nbsp;&nbsp;&nbsp; to discuss requirements  </h3>  </li>
   <li> <h3> • Dedicated, kind and customer friendly staff</h3> </li>  
   <a href="/register">
       <h3> &nbsp; &nbsp;Come join us!
       </h3> 
        </a> 
</ul>
<!-- </div> -->
</body>

<!--include footer-->
<%-include('include/_footer')%>
<!--include footer-->












