<!--include header-->
<%-include('include/_header')%>
<!--include header-->

<% let monthNames = ["", "January", "February", "March", "April", "May", "June", "July", "August", "September", "October", "November", "December"] %>
<h1>Days:</h1>
<ul>
    <% for(day of days) { %>
        <li> <%= day.date %> </li>
        <% //for(time of day.timeslots) { %>
        <li><%= day.timeslots %></li>
        <% // } %>
    <% } %>
</ul>
<!--include footer-->
<%-include('include/_footer')%>
<!--include footer-->







