<!--include header-->
<%-include('include/_header')%>
    <!--include header-->

    <body style = "background: url(assets/images/login.jpg); background-size: cover; background-repeat: no-repeat;" > 

    <div class="loginTab">
        <h1>Sign in to your account!</h1>
        
        <% if (typeof message !== "undefined") { %>
            <p>
                <%= message.error %>
            </p>
            <% } %>
                <form action="/login" , method="POST">
                    <input type="email" name="email" placeholder="johnsmith@nmsu.edu" />
                    <input type="password" name="password" placeholder="* * * * * * * * *" />
                    <button>SIGN IN</button>
                </form>
    </div>
    <!--include footer-->
    <%-include('include/_footer')%>
        <!--include footer-->

