<!--include header-->
<%-include('include/_header')%>
<!--include header-->

<body>
    
    <h2 class ="text-gradient">My Appointments</h2>
    <table class="table">
        <thead class="thread-dark">
        </thead>
        <tbody>
            <tr>
                <% for(appointment of appointments) { %>
                <td><%= appointment.date %> At <%= appointment.time %></td>
            </tr>
            <% } %>

        </tbody>

    </table>

</body>
<!--include footer-->
<%-include('include/_footer')%>
<!--include footer-->