<!--include header-->
<%-include('include/_header')%>
<!--include header-->

<body>
    <div class="container">
        <h2 class ="text-gradient">My Appointments</h2>
        <table class="table">
            <thead class="thead-dark">
                <tr>
                    <th>Name</th>
                    <th>@Email</th>
                    <th>Appointment</th>
                    <th>Status</th>
                </tr>
            </thead>
            <tbody>
                <tr>
                    <% for(appointment of appointments) { %>
                    <td><%= appointment.date %> At <%= appointment.time %></td>
                </tr>
                <% } %>
    
            </tbody>
    
        </table>
    </div>

</body>
<!--include footer-->
<%-include('include/_footer')%>
<!--include footer-->