<!--include header-->
<%-include('include/_header')%>
<!--include header-->

<body style = "background: url(assets/images/joinus!.jpg); background-size: cover; background-repeat: no-repeat;" > 
<div class ="loginTab">
    <h1>SIGN UP</h1>
    <% if (messages) { %>
        <p><%= messages.error %></p>
        <% } %>
    <form action="/register", method="POST">
        <input type="name" name="name" placeholder="My Name"/>
        <input 
        type="email" 
        name="email" 
        placeholder="johnsmith@nmsu.edu"
        />
        <input type="password" name="password" placeholder="* * * * * * * * *" />
        <button>SIGN IN</button>
    </form>
</div>
</body>
<!--include footer-->
<%-include('include/_footer')%>
<!--include footer-->

