<!--include header-->
<%-include('include/_header')%>
<!--include header-->
    <div class="gridContainer">
        <% date %> 
        <h1>Hello</h1>
    </div>
<!--include footer-->
<%-include('include/_footer')%>
<!--include footer-->


