<!--include header-->
<%-include('include/_header')%>
<!--include header-->

    <div class="year"></div>

    <div class="prevAndNext">
        <button class="prev">PREVIOUS MONTH</button>
        <button class="next">NEXT MONTH</button>
    </div>

    <div class="gridContainer">
    </div>
<script src="./assets/js/selectDay.js"></script>
<!--include footer-->
<%-include('include/_footer')%>
<!--include footer-->


