<!--include header-->
<%-include('include/_header')%>
<!--include header-->
<ul>
    <% //for(time of date.timeSlots) { %>
        <li style="color: black">Date: <%= date %> </li>
    <% //} %>
</ul>
<!--include footer-->
<%-include('include/_footer')%>
<!--include footer-->


