<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" type="text/css" href="/assets/css/styles.css" />
    <link rel="stylesheet" type="text/css" href="/assets/css/selectDay.css" />
    <link rel="stylesheet" type="text/css" href="/assets/css/login.css" />
    <link rel="stylesheet" type="text/css" href="/assets/css/index.css" />
    <link rel="stylesheet" href="/assets/css/aboutUs.css">
    
   
    
    <title>Business Website</title>
</head>
<body>
    <header>
        <section id="navbar">
            <nav>
                <ul class="nav__link--list">
                    <li>
                        <a href="/aboutUs" class="
                     nav__link--anchor
                     link__hover-effect
                     link__hover-effect--black
                     ">About Us</a>
    
                        <a href="/selectDay" class="
                     nav__link--anchor
                     link__hover-effect
                     link__hover-effect--black
                     ">Make an Appointment</a>
    
                        <a href="/login" class="
                       nav__link--anchor
                       nav__link--anchor-primary
                       ">Log In</a>

                    </li>
                </ul>
            </nav>
        </section>
    </header>
