<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" type="text/css" href="/assets/css/styles.css" />
    <link rel="stylesheet" type="text/css" href="/assets/css/selectDay.css" />
    <link rel="stylesheet" type="text/css" href="/assets/css/login.css" />
    <link rel="stylesheet" type="text/css" href="/assets/css/index.css" />
    <link rel="stylesheet" type="text/css" href="/assets/css/appointments.css" />

    <link rel="stylesheet" href="/assets/css/aboutUs.css">
    
    <!-- for index.js -->
    <link rel="preconnect" href="https://fonts.gstatic.com">
    <link href="https://fonts.googleapis.com/css2?family=Josefin+Sans:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;1,100;1,200;1,300;1,400;1,500;1,600;1,700&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.1.1/css/all.min.css" integrity="sha512-KfkfwYDsLkIlwQp6LFnl8zNdLGxu9YAA1QvwINks4PhcElQSvqcyVLLD9aMhXd13uQjoXtEKNosOWaZqXgel0g==" crossorigin="anonymous" referrerpolicy="no-referrer" />
    
   
    
    <title>Business Website</title>
</head>
<body>
    <header>
        <section id="navbar">
            <nav>
                <ul class="nav__link--list">
                    <li>
                    <a href="index" class=" 
                     nav__link--anchor
                     link__hover-effect
                     link__hover-effect--black" style = "position: absolute; left: 0px; font-size:35px;">WebRUs </a>
                     
                    <a href="/aboutUs" class="
                     nav__link--anchor
                     link__hover-effect
                     link__hover-effect--black
                    ">About Us</a>
                    <a href="/selectDay" class="
                     nav__link--anchor
                     link__hover-effect
                     link__hover-effect--black
                     ">Make an Appointment</a>

                    <a href="/myAppointments" class="
                     nav__link--anchor
                     link__hover-effect
                     link__hover-effect--black
                    ">My Appointments</a>
                    
    
                    <a href="/login" class="nav__link--anchor nav__link--anchor-primary"> Log In </a>

                    <!-- <a href="/logout" class="
                    nav__link--anchor
                    nav__link--anchor-primary
                    ">Log Out</a> 
                    </li> -->
                </ul>
            </nav>
        </section>
    </header>
