@import url('https://fonts.googleapis.com/css2?family=Lato:ital,wght@1,700&display=swap');
*
{
    color: white;
    font-family: 'Lato', sans-serif;
    padding: 0;
    margin: 0;
    box-sizing: border-box;

}
h1, h2, h3, h4, h5, h6, span
{
    text-align: center;
    line-height: 1.25;
}
h1{
    font-size: 36px;
}
p{
    line-height: 1.5;
    font-size: 16px;
}

li {
    list-style: none;
}

.flex{
    display: flex;
}
.flex-1{
    flex: 1;
}

.row{
    width: 100%;
    max-width:800px;
    margin: 0 auto;
    padding: 0 12px;
}
#header nav{
    background-color: #882345;
    height: 100px; /* Navigation Pipe*/
    width: 100%;   /* Width */
    max-width: 1000px; /* Sets pixels */
    margin: 0 auto;    /* Centers */
    display: flex;     /* Position*/
    justify-content: space-between; /* Sends to both sides of page */
    align-items: center;  /* Centers Veritcally*/
    padding: 0 12px;
}

.nav__link--list {
    text-align: center;
    display: flex;
}
/* Sets the color of navigation text and spacing*/
.nav__link--anchor{
    margin: 0 12px;
    color: wh;
    text-decoration: none;
    font-weight: 700; /* Sets to bold */
}
/* Sets a oval border around contact text and whitens text*/
.nav__link--anchor-primary{
    background-color: #701634;
    padding: 8px 20px;
    border-radius: 50px;

}
/* Shifts colors when you hover over conact*/
.nav__link--anchor-primary:hover {
    background-color: wheat; 
}
